.bio-heading
{
    font-size: 1.75rem;
    font-weight: 700;
    margin: 3vw 0;
    text-align: center;
}
.bio-text
{
    text-align: center;
    width: 100%;
    padding: 0 5vw;
    font-size: 1rem;
    font-weight: 400;
}
.footer-s
{
    display: flex;
    margin: 5vw 0;
}

.footer-s .col-12
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5vw;
}
.footer-s .col-12 p 
{
    font-size: 1rem;
    width: 40%;
    text-align: center;
}